.commentCol {
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px;
    height:100%;
}

.commentItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.commentContainer {
    text-align: center;
    padding: 45px;
}

.commentContainer h2 {
    margin: 50px;
}