#contactSection h2 {
    text-align: center;
}

.formContainer {
    width: 60%;
    margin: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;    
    background-color: white;
}

.contactContainer {
    background-color: lightblue;
    padding: 40px !important;
    margin-top: 30px;
}