.footerContainer {
    padding: 80px;    
    text-align: center;
    padding-bottom: 200px;
}

.footerContainer h1 {
    margin: 60px;
}

.footerContainer p {
    width: 70%;
    text-align: left;
}

.footerList {
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
    font-weight: lighter;
    text-align: left; 
}

.footerList a, label {
    padding: 5px;
}

.footerIconRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: space-around;
    width: 180px;
}
