.myNavigationBar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white !important;
    z-index: 100;
    padding: 10px;
    padding-left: 10rem;
}

.myNavigationBar a {
    margin-left: 15px;
    margin-right: 15px;
}

.myNavigationBar h1 {
    font-size: 2em;
}