#portfolioSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 25px!important;
}

#portfolioSection h3 {
    width: 20%;
    min-width: 270px;
    text-align: center;
    margin-bottom: 50px;
}

.portfolioCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-top: 50px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 280px;
    height: 80%;
}

.portfolioCard label {
    margin: 16px;
    font-size: 0.8em;
    font-weight: bold;
}

.portfolioCard p {
    font-weight: lighter;
    color: lightslategray;
    font-size: 0.75em;
}

.portfolioList {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
    height: 100%;
}

.arrowButton {
    border-radius: 50%;
    background-color: lightgrey;
    border-color: lightgrey;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -50px;
}

.buttonRow {
    display: flex;
    flex-direction: row;
}
