.myNavigationBar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white !important;
    z-index: 100
}

.primaryButton {
    background-image: linear-gradient(to right, #0C0C48 , #045C61);
    color: white;
    margin: 12px;
    padding: 10px 30px 10px 30px;
    font-size: 0.70em;
    font-weight: 500;    
}

.secondaryButton {
    background-color: white;
    color: #045C61;
    border-color: #045C61;
    border-width: 1px;
    margin: 12px;
    padding: 10px 30px 10px 30px;
    font-size: 0.70em;
    font-weight: bold;
}

.portfolioCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-top: 50px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 280px;
    height: 80%;
}

.portfolioCard label {
    margin: 16px;
    font-size: 0.8em;
    font-weight: bold;
}

.portfolioCard p {
    font-weight: lighter;
    color: lightslategray;
    font-size: 0.75em;
}

.portfolioList {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
    height: 100%;
}

.arrowButton {
    border-radius: 50%;
    background-color: lightgrey;
    border-color: lightgrey;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -50px;
}

.buttonRow {
    display: flex;
    flex-direction: row;
}

.stakeholderContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.stakeholderImage {
    width: 150px !important;
}

.stakeholderCard {
    align-items: center;
    justify-content: center;
    width: 18rem;
    margin: 10px;
    padding-top: 30px;
    color: #045C61;
}

#stakeholdersSection label {
    display: flex !important;
    flex-direction: column;
    text-align: center;    
}

.stakeholderCard :hover {
    color: white !important;
    background-color: #045C61 !important;
}

.stakeholderCard :hover label {
    font-size: 18px
}
