body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
span {
  font-weight: 700;
}

.primaryButton {
  background-image: linear-gradient(to right, #0C0C48 , #045C61);
  color: white;
  margin: 12px;
  padding: 10px 20px 10px 20px;
  font-size: 0.70em;
  font-weight: 500;    
}

.secondaryButton {
  background-color: white;
  color: #045C61;
  border-color: #045C61;
  border-width: 1px;
  margin: 12px;
  padding: 10px 30px 10px 30px;
  font-size: 0.70em;
  font-weight: bold;
}
